<div class="current_user">
  <%= current_user.name %> さん
</div> 

<%# 以下、所属するグループのリンクが並ぶように %>
<div class="group-list-title">
所属グループ一覧
</div>
  <% current_user.groups.each do |group| %>
    <a href="#"><%= group.group_name %></a>
  <% end %>