<div class="current_user">
  <ユーザー名> 
</div> 

<%# 以下、所属するグループのリンクが並ぶように %>
<ul class="group-list">
  <li class="group-list-items">group1</li>
  <li class="group-list-items">group2</li>
  <li class="group-list-items">group3</li>
</ul>