<div class="menu_bar">
  <div class="logo">
    <%= link_to image_tag("logo.png", class:"icon"), "/" %>
  </div>
  <div class="menu">
    <ul class="item">
      <li class="items"><%= link_to "グループを作成する", new_group_path %></li>
      <li class="items"><%= link_to "ユーザー情報の編集", edit_user_path(current_user) %></li>
      <li class="items"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>