<div class="current_user">
  <%= current_user.name %> さん
</div> 

<%# 以下、所属するグループのリンクが並ぶように %>
<div class="group-list-title">
所属グループ一覧
</div>
  <% current_user.groups.each do |group| %>
    <div class="work-name">
      <%= link_to group.group_name, group_works_path(group) %>
    </div>
  <% end %>