.wrapper{
  display: flex;
  height: calc(100vh - 120px);
}
.main_screen{
  width: calc(100vw - 250px);
}
/* メニューバーの記述 */
.menu_bar{
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.151);
}
.logo{
  width: 40%;
  height: 120px;
}
.title{
  font-size: 43px;
}
.menu{
  width: 60%;
}
.item{
  display: flex;
  justify-content: flex-start;
}
.items{
  font-size: 18px;
  font-weight: bold;
  margin: 60px 5px 1px 5px;
  padding: 10px 15px;
  border: 3px solid black;
  background-color: white;
}

/* メニューバーの記述ここまで */
/* サイドバー */
.side_bar{
  width: 250px;
  background-color: grey;
  color: antiquewhite;
}
.current_user{
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.group-list-title{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: black;
  margin: 20px 0px;
}
.group-list{
  font-size: 20px;
  margin-left: 15px;
}
.group-list-items{
  margin-bottom: 7px;
}
.work-name a{
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
}
/* サイドバーここまで */

li{
  list-style: none;
}