ul li a {
  list-style: none;
  text-decoration: none;
}

/* 仕事編集画面ここから */
.works-edit-form div .btn {
  margin-top: 10px;
}
/* 仕事編集画面ここまで */

/* 仕事一覧画面ここから */
.group_name,
.menu-btn
 {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.menu-btn a{
  color: black;
  margin-right: 20px;
  border: gray solid ;
  padding: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  border-radius: 0.5rem;
}

.work-table {
  flex-direction: column;
  align-items: center;
}
.group_name {
  display: flex;
}
.work-table th, td{
  font-size: 20px;
}
.works-main-screen {
  margin-left: 15px;
}
.work-table td {
  background-color: rgba(196, 185, 185, 0.623);
}

.work-table tr:nth-child(odd) td {
  background-color: #fff;
}
.work-table a{
  color: rgb(20, 40, 110);
}


/* 仕事一覧画面ここまで */
